/* HTMLS SECCIONES */
@import "./partials/_catalogo.scss";
@import "./partials/producto.scss";
@import "./partials/contactos.scss";


/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding:0;
}
/* codigo generico para toda la página */

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


header{
    width: 100%;
    padding: 1px 0px;
    background: #FEF1E3;
    position: fixed;
    z-index: 1000px;
}


            /* listas menu*/



/************************** Menú para toda la página */            
/************************** Menú para toda la página */     
/************************** Menú para toda la página */     
/************************** Menú para toda la página */     

a{
    text-decoration: none;
    color: #FFA9C4;
    
}

ul{
    list-style-type: none;
    text-align: right; 
    position: absolute;
    top: 40%; right: 6.1%;
}

ul a:hover{
    opacity: 0.5;
}

.barra_logo{
    font-size: 15px;
    margin-left: 180px;
    height: 8rem;
    width: 10.5rem;
}

    /*  Listas */
li{
    display: inline-block;
    margin: 0 1.5rem;
}

.checkbtn{
    font-size: 30px;
    color:#FFA9C4;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;

}

#check{
    display: none;
}


                /**********  DESKTOP ********/
                /**********  DESKTOP ********/
                /**********  DESKTOP ********/

@media (max-width:425px) {

    .barra_logo{
        padding-left: 20px;
    }

    .nav .ul .li{
        font-size:16px;
    }

    .checkbtn{
        display: block;

    }

    .ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background:#FFA9C4;
        top: 80px;
        left: -100%;
    }

}

    .box1{
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: 40px;
    }


                /* seccion #1 van 3 imagenes */  
                /* seccion #1 van 3 imagenes */  
                /* seccion #1 van 3 imagenes */  
.box1{
    background-color: #FFA9C4;
    width:200px;
    height:190px;
    float: left;
    border-radius:4rem;
    margin: 200px;

}
.box1 p{
    text-align: center;

}

.foto_box1{
    width: 210px;
    height: 185px;
    float: left;
    margin-top: 30px;
    margin-left: -4px;
}

.box2{
    background-color: #FFA9C4;
    width: 170px;
    height: 130px;
    float: left;
    border-radius: 3rem;
    margin-left: 1px;
    margin-top: 200px;
    padding: 30px;
}
.box2 p{
    text-align: center;
    font-size: 18px;
    color:#FEF1E3;
}


.foto_box2{
    width: 385px;
    height: 217px;
    float: left;
    margin-top: -20px;
    margin-left: -150px;
}


.box3{
    background-color: #FFA9C4;
    width: 200px;
    height:190px;
    float: left;
    border-radius: 3rem;
    margin: 200px;
}
.box3 p{
    text-align: center;
    bottom: 50px;
}

.foto_box3{
    width: 255px;
    height: 202,25px;
    float: left;
    margin-top: 30px;
    margin-left: -27px;
}


                /* FINALIZA seccion #1 van 3 imagenes */  


                /* seccion #2 van 4 cajas */  

.caja1 img{
    background-color: #22493B;
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 1rem;
    margin: 52px;

}


.caja2 img{
    background-color: #505e59;
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 1rem;
    margin: 52px;
}

.caja3 img{
    background-color: #59615e;
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 1rem;
    margin: 52px;
}
.caja4 img{
    background-color: #47c497;
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 1rem;
    margin: 52px;
}

.contenedor2{
    width:auto;
    height:auto;
    display: block;


}

                    /* TERMINA seccion #2 van 4 cajas */  
        
        
            /* seccion VIDEO */  

.videocaja1{
    background-color:#22493B;
    width: 800px;
    height: 360px;
    float: left;

}

.videocaja1 p{
    font-size: 30px;
    text-align: center;
    color:#FFA9C4;
    margin-top: 100px;
}

.videocaja2 iframe {
    width: 640px;
    height: 360px;
    margin: 0;
    padding: 0;
}

.contenedor3{
    width: 100%;
    height: 320%;;

}


                          /* sección CONTENEDOR #4 */ 
                          /* sección CONTENEDOR #4 */ 
                          /* sección CONTENEDOR #4 */ 

.modulo1 img{
    background-color: #22493B;
    width: 200px;
    height: 150px;
    float: left;
    border-radius: 1rem;
    margin-left: 120px;
    margin-top: 40px;
}

.modulo1 p{
    padding-top: 110px;
}
.modulo2 img{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 150px;
    float: left;
    color: #ffffff;
    border-radius: 1rem;
    margin-left: 120px;
    margin-top: 40px;

}
.modulo2 p{
    padding-top: 110px;
}
.modulo3 img{
    background-color: #22493B;
    width: 200px;
    height: 150px;
    float: left;
    border-radius: 1rem;
    margin-left: 120px;
    margin-top: 40px;
}
.modulo3 p{
    padding-top: 70px;
}

.modulo4 img{
    background-color: #22493B;
    width: 200px;
    height: 150px;
    float: left;
    border-radius: 1rem;
    margin-left: 120px;
    margin-top: 40px;
}
.modulo4 p{
    padding-top: 110px;
}
.contenedor4{
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    
}


                        /* sección CONTENEDOR #5 */ 
                        /* sección CONTENEDOR #5 */ 
                        /* sección CONTENEDOR #5 */ 

.cajon1 img{

    width: 700px;
    height: 150px;
    float: left;
    border-radius: 1rem;
    margin-left: 20px;
    margin-top: 40px;

}


.cajon1 p{
    padding-top: 50px;
    text-align: left;

}

.cajon2 img{

    background-color: antiquewhite;
    width: 700px;
    height: 150px;
    float: left;
    border-radius: 1rem;
    margin-left: 5px;
    margin-top: 40px;

}




/******************************** CONTACTO ***********/  
/******************************** CONTACTO ***********/
/******************************** CONTACTO ***********/ 

/*********************** FORM **************/  
/*********************** FORM **************/  
/*********************** FORM **************/  
/*********************** FORM **************/  

.form-register {
    width: 400px;
    background: #22493B;
    padding:30px;
    margin: 500px;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 3px 7px 30px #f7e9ee;

}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}

.controls{
    width: 100%;
    background: #FEF1E3;
    padding:10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px;
    font-family:"Trebuchet MS";
    font-size:18px;

}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a{
    color: white;
    text-decoration: none;

}

.form-register a:hover{
    color: white;
    text-decoration: underline;
    
}

.form-register .boton{
    width: 100%;
    background: #FFA9C4;
    border: none;
    padding: 12px;
    color: rgb(92, 107, 121);
    margin: 16px 0;
    font-size: 16px;
    border-radius: 8px;
}


                        /****************************** FOOTER */  
                        /****************************** FOOTER */ 
                        /****************************** FOOTER */ 

footer{
    background: #FFA9C4;
    width: 100%;
    height: 100%;


}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 420px;

}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 15px;



}

.box_footer .logo img{
    width: 50px;
    margin-top: 50px;


}

.terminos p{

    max-width: 450px;
    margin-top: 100px;
    font-weight: 500;
    color: #FEF1E3;
    font-size: 15px;
    padding: 5,5px;


}

.box_footer h2{
    margin-bottom: 30px;
    color: #f7e9ee;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color:#f7e9ee;
    font-weight: 600;
}

.box_footer a:hover{
    opacity: 0.8;
}


.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
